# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java Maven Build Test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - 'docs/**'
      - 'images/**'
      - 'k8s/**'
      - 'docker-compose.yml'
      - 'docker/**'
      - '.gitattributes'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up JDK 24
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'temurin'
          cache: maven

      - name: Clean Build Test In Non-Native Mode with JDK and Maven
        run: |
          chmod +x mvnw
          ./mvnw clean package --file pom.xml --batch-mode --update-snapshots

      - name: Set up GraalVM JDK 24
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '24'
          distribution: 'graalvm'

      - name: Check JVM and GraalVM Version
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version

      - name: Run Tests In Native Mode with GraalVM and Maven
        run: ./mvnw -PnativeTest test --file pom.xml --batch-mode --update-snapshots

#      - name: Create Native Image Build with GraalVM and Maven
#        run: ./mvnw -Pnative native:compile -DskipTests --file pom.xml --batch-mode --update-snapshots